html{
  box-sizing: border-box;
}

.mycard{
  height: 20rem;
 
}


.myprogress{
  font-size: 0.75rem;
}

.avtarSideText{
  margin-left: 1rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-weight: bolder;
}